* {
    margin :0;
    padding: 0;
    border: none;
}
body{
    font-family: Verdana, sans-serif;
    font-weight: 200%;
    color: darkslategray;
}
h1{
    color:green;
    font-family: Oswald,sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}